.img--size {
    width: 100%;
    max-width: 450px;
}

.description .card {
    background-size: cover;
    background-position: center;
}

.description .card:nth-child(odd) {
    background-image: url("../img/bgcaracteristicas-inver-scaled.jpg");
}

.description .card:nth-child(even) {
    background-image: url("../img/bgcaracteristicas-scaled.jpg");
}